.content__cards-container {
  display: flex;
  justify-content: center;
}

.content__cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px 17px;
}

.content__card {
  max-width: 282px;
  max-height: 361px;
  background-color: #ffffff;
  border-radius: 5%;
  overflow: hidden;
}

.content__card-image {
  width: 282px;
  height: 282px;
}

.content__card-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.content__card-title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  margin: 25px 0 25px 20px;
  color: #000000;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.content__card-heart {
  background-image: url(../images/HeartVector.svg);
  background-position: center;
  background-color: transparent;
  background-repeat: no-repeat;
  height: 18px;
  width: 21px;
  border: none;
  margin: 31px 30px 30px 28px;
}
