/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.content__cards {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 17px 1fr 17px 1fr;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px 17px;
}

.content__card {
  max-width: 282px;
  max-height: 361px;
  background-color: #ffffff;
  border-radius: 5%;
  overflow: hidden;
}

.content__card-image {
  width: 282px;
  height: 282px;
}

.content__card-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.content__card-title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  margin: 25px 0 25px 20px;
  color: #000000;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.content__card-heart {
  background-image: url(../images/HeartVector.svg);
  background-position: center;
  background-color: transparent;
  background-repeat: no-repeat;
  height: 18px;
  width: 21px;
  border: none;
  margin: 31px 30px 30px 28px;
}
