.modal {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 999;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  padding-right: 19px;
  padding-left: 19px;
  visibility: hidden;
  pointer-events: none;
  opacity: 0;
  transition: visibility 0s linear 0.3s, opacity 0.3s linear;
  display: flex;
}

.modal_opened {
  visibility: visible;
  pointer-events: all;
  opacity: 1;
  transition-delay: 0s;
}

.modal__container {
  position: relative;
  padding: 36px;
  background-color: white;
  border-radius: 10px;
  max-width: 430px;
  max-height: 330px;
}

.modal__title {
  font-family: "Inter", "Times New Roman", Times, serif;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  margin-top: 0;
  margin-bottom: 54px;
}

.modal__form {
  display: flex;
  flex-direction: column;
  width: 358px;
}

.modal__edit {
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 1px solid black;
  margin: 0;
  width: 100%;
  box-sizing: border-box;
}

.modal__edit:last-of-type {
  margin-top: 29.74px;
}

.modal__close {
  background: url(../images/Close\ Icon.svg);
  background-color: transparent;
  border: none;
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: -45px;
  right: -45px;
  cursor: pointer;
  -webkit-transition: opacity 0.3s ease;
  -o-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

.modal__close:hover {
  opacity: 0.6;
}

.modal__button {
  cursor: pointer;
  height: 50.15px;
  margin-top: 48px;
  background: #000000;
  border-radius: 2px;
  font-family: "Inter", "Times New Roman", Times, serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #ffffff;
  border: none;
  -webkit-transition: opacity 0.3s ease;
  -o-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

.modal__button:hover {
  opacity: 0.6;
}

.modal__preview {
  display: flex;
  flex-direction: column;
  background-color: transparent;
  max-height: 75vh;
  max-width: 75vw;
  position: relative;
  padding: 0;
}

.modal__preview-image {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.modal__preview-title {
  width: 291px;
  height: 12px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #ffffff;
  margin: 10px 0 0 0;
}

.modal__error {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #ff0000;
}

.modal__error_visible {
  border-bottom: 1px solid #ff0000;
}

.modal__button_disabled {
  opacity: 0.2;
  background-color: #ffffff;
  color: #000000;
  border: 1px solid #000000;
}

@media screen and (max-width: 580px) {
  .modal__container {
    max-width: 282px;
    max-height: 322px;
    padding: 25px 22px 25px 22px;
  }

  .modal__form {
    width: 238px;
  }

  .modal__button {
    max-height: 46px;
    margin-top: 45px;
  }

  .modal__close {
    width: 26px;
    height: 26px;
    right: 0;
  }
  .modal__close_preview {
    width: 30px;
    height: 30px;
    top: -35px;
    right: -35px;
  }

  .modal__preview-title {
    width: 240px;
    height: 12px;
  }
}
