.profile {
  margin: 0;
  padding: 0;
}
.profile__content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.profile__image {
  margin: 40px 30px 51px 200px;
  border-radius: 100%;
  max-width: 120px;
  max-height: 120px;
}
.profile__info {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 0;
  align-content: center;
  align-items: baseline;
  grid-gap: 16px 18px;
}
.profile__name {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  white-space: nowrap;
  color: #ffffff;
  margin: 0;
}
.profile__name-title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
  margin: 0;
}
.profile__edit-button {
  background-image: url(../images/pen.svg);
  background-position: center;
  background-color: transparent;
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
  border: 2px white solid;
  margin: 0;
}
.profile__add-button {
  background-image: url(../images/Vector@2x.svg);
  background-position: center;
  background-color: transparent;
  background-repeat: no-repeat;
  min-width: 150px;
  min-height: 50px;
  margin: 75px 200px 86px 0px;
  border: 2px white solid;
}
