@import url(../vendors/normalize.css);
@import url(../vendors/fonts/fonts.css);
@import url(../blocks/page.css);
@import url(../blocks/header.css);
@import url(../blocks/profile.css);
@import url(../blocks/content.css);
@import url(../blocks/footer.css);

@media screen and (max-width: 1050px) {
  .profile__add-button {
    background-image: url(../images/Vector@2x.svg);
    background-position: center;
    background-color: transparent;
    background-repeat: no-repeat;
    min-width: 60%;
    min-height: 50px;
    margin: 75px 0 86px 0;
    border: 2px solid #ffffff;
    border-radius: 2px;
  }

  .profile__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .profile__image {
    margin: 40px 0 51px 0;
    border-radius: 100%;
    max-width: 120px;
    max-height: 120px;
  }
  .profile__info {
    display: flex;
    margin: 0;
    flex-wrap: wrap;
    max-width: 500px;
    justify-content: center;
  }

  .content__cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px 17px;
  }
}

@media screen and (max-width: 620px) {
  .content__cards {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 20px;
  }
}

@media screen and (max-width: 550px) {
  .header__title-image {
    max-width: 126px;
    max-height: 24px;
    margin: 28px 0px 32px 27px;
  }

  .header__divider {
    width: 100%;
    margin: 0;
    align-self: center;
    opacity: 0.7;
    border-bottom: 1px solid #545454;
  }

  .profile__content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .profile__info {
    display: flex;
    margin: 0;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0;
    max-width: 320px;
  }
  .profile__image {
    margin: 42px 99px 30px 101px;
    border-radius: 100%;
    max-width: 120px;
    max-height: 120px;
  }

  .profile__name {
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 27px;
    text-align: center;
    color: #ffffff;
    margin: 0;
    margin: 0 10px 14px 62px;
  }
  .profile__name-title {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #ffffff;
  }
  .profile__edit-button {
    background-image: url(../images/pen.svg);
    background-position: center;
    background-color: transparent;
    background-repeat: no-repeat;
    width: 18px;
    height: 18px;
    border: 1px solid #ffffff;
    margin: 0 34px 0 0;
  }
  .profile__add-button {
    background-image: url(../images/Vector@2x.svg);
    background-position: center;
    background-color: transparent;
    background-repeat: no-repeat;
    min-width: 282px;
    min-height: 50px;
    margin: 36px 19px 36px 19px;
    border: 2px solid #ffffff;
    border-radius: 2px;
  }

  .footer {
    margin: 0;
    padding: 0;
  }
  .footer__text {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    margin: 48px 0 36px 19px;
    color: #545454;
  }
}
